@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,400italic,200,200italic");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("https://picsum.photos/1920/1080");
  overflow: hidden;
    /* background-position: 0% 0%, center;
  background-repeat: repeat, no-repeat;
  background-size: cover; */
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: 10px;
  flex-direction: column;
}

nav > ul {
  display: flex;
  margin: 2em 0;
}

nav > ul > li {
  list-style: none;
}

.header a {
  color: #000;
  border: 1px #ccc solid;
  margin: 0 0.25rem;
  padding: 0.5rem 1.125rem;
  border-radius: 5rem;
  letter-spacing: 0.225rem;
  font-size: 0.625em;
  transition: 0.3s;
}

.header a:hover {
  color: rgb(26, 140, 175);
  border: 1px rgb(26, 140, 175) solid;
}

a {
  text-decoration: none;
  margin: 0 0.25rem;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

hr {
  color: #ccc;
  width: 100%;
  margin: 1rem 0;
}

.hr-section {
  width: 10%;
}

.section img {
  border-radius: 50%;
  margin: 1rem 0 2rem 0;
}

.section h1,
p {
  text-transform: uppercase;
  letter-spacing: 0.25rem;
  color: #474747;
}

.section h1 {
  font-weight: 400;
  font-size: 1.5em;
}

.icon {
  font-size: 20px;
}
.footer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.footer > ul {
  display: flex;
  margin: 1rem 0 1.5rem 0px;
}

.footer > ul > li {
  list-style: none;
  margin: 0 0.25rem;
}

.footer > ul > li > a {
  border: 1px #ccc solid;
  fill: #ccc;
  /*要變成flex才會對齊*/
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
  transition: 0.3s;
}

.footer a:hover {
    fill: rgb(213, 36, 219);
    border: 1px rgb(213, 36, 219) solid;
}

.footer > hr {
  min-width: 100%;
}

.icon {
  width: 1.5rem;
  height: 1.5rem;
  filter: invert(0.7);
}
